<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	
	<h2>Trade Book</h2>
	<p>Enter the following Trade Details</p>
	

	<!-- <h3>{{ message }}</h3> -->
	
	<div class="container">
	  <form method="GET" action='/add_trade'>
	    <!-- <div class="form-group row">
	      <label for="tradeid" class="col-sm-2 col-form-label">Trade ID</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="tradeid" placeholder="Trade ID" value="abc">
	      </div>
	    </div> -->
	    
	    
	    <div class="form-group row">
	      <label for="customerid" class="col-sm-2 col-form-label">Customer ID</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="customerid" placeholder="Customer ID">
	      </div>
	    </div>
	    
	    
	    <fieldset class="form-group">
	      <div class="row">
	        <legend class="col-form-legend col-sm-2">Type of Trade</legend>
	        <div class="col-sm-10">
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="tradetype" id="gridRadios1" value="Buy" checked>
	              Buy
	            </label>
	          </div>
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="tradetype" id="gridRadios2" value="Sell">
	              Sell
	            </label>
	          </div>
	        </div>
	      </div>
	    </fieldset>
	    
	    
	    <fieldset class="form-group">
	      <div class="row">
	        <legend class="col-form-legend col-sm-2">Security Name</legend>
	        <div class="col-sm-10">
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="securityname" id="gridRadios1" value="apple" checked>
	              Apple
	            </label>
	          </div>
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="securityname" id="gridRadios2" value="facebook">
	              Facebook
	            </label>
	          </div>
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="securityname" id="gridRadios2" value="walmart">
	              Walmart
	            </label>
	          </div>
	        </div>
	      </div>
	    </fieldset>
	    
	    <fieldset class="form-group">
	      <div class="row">
	        <legend class="col-form-legend col-sm-2">Security Type</legend>
	        <div class="col-sm-10">
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="securitytype" id="gridRadios1" value="stocks" checked>
	              Common Stocks
	            </label>
	          </div>
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="securitytype" id="gridRadios2" value="call_option">
	              Call Option
	            </label>
	          </div>
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="securitytype" id="gridRadios2" value="put_option">
	              Put Option
	            </label>
	          </div>
	          <div class="form-check">
	            <label class="form-check-label">
	              <input class="form-check-input" type="radio" name="securitytype" id="gridRadios2" value="futures">
	              Futures
	            </label>
	          </div>
	        </div>
	      </div>
	    </fieldset>
	    
	    
	    <div class="form-group row">
	      <label for="quantity" class="col-sm-2 col-form-label">Quantity of Trade</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="quantity" placeholder="Quantity">
	      </div>
	    </div>
	    
	    <div class="form-group row">
	      <label for="price" class="col-sm-2 col-form-label">Price per Unit</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="price" placeholder="Price">
	      </div>
	    </div>
	    <input type="submit" value="Submit">
	  </form>
	</div>

	<div class="form-group row">
	{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}	
	</div>
</body>

</html>

